/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    border-top: 5px solid #3097d1
}

::-moz-selection{
    background: #3097d1 ;
    color: #F5F8FA;
}

::selection{
    background: #3097d1 ;
    color: #F5F8FA;
}

a{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.clear{
    clear: both;
}
a .btn-primary{
    color: white;
}
.center-div{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa{
    color: #3097d1;
}

.fa:hover{
    color: #30d16a;
        -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/* ==========================================================================
   To top
   ========================================================================== */

#to-top{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
    z-index: 100;
    border-color: #d3e0e9;
}

/* ==========================================================================
   UnderLined Navbar
   ========================================================================== */

.navbar-underline{
    position: relative;
}

.navbar-underline:after{
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #3097d1 ;
    content: "";
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-underline:hover{
    color: #3097d1;
}

.navbar-underline:hover:after{
    width: 100%;
    background-color: none;
}

/* ==========================================================================
   Body
   ========================================================================== */

.body{
}

.post{
    border-radius: 4px;
    border: 1px solid #d3e0e9 ;
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset, 0px 0px 5px 5px rgba(255, 255, 255, 0.4) inset;
    -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset, 0px 0px 5px 5px rgba(255, 255, 255, 0.4) inset;
    -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset, 0px 0px 5px 5px rgba(255, 255, 255, 0.4) inset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    padding: 20px; 
}

.post-image{
    object-fit: cover;
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid #3097d1;
}

.post-image a img{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.post-image a img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.post-body{
    padding: 10px 0;
}

#left-side-post{
    border-right: 1px solid #d3e0e9;
    padding: 0 20px 0 0 !important;
}

#right-side-post{
    padding: 12px 0 0 20px!important;
}

#right-side-post a.btn{
    margin-bottom: 5px;
}

@media screen and (max-width: 767px){
    #left-side-post{
        border: 0;
    } 
    #right-side-post{
    padding: 12px 0 0 0px!important;
    }
}



/* ==========================================================================
   Ads Widget
   ========================================================================== */

.ad-widget{
    border-radius: 4px;
    border: 1px solid #d3e0e9 ;
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset, 0px 0px 5px 5px rgba(255, 255, 255, 0.4) inset;
    -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset, 0px 0px 5px 5px rgba(255, 255, 255, 0.4) inset;
    -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset, 0px 0px 5px 5px rgba(255, 255, 255, 0.4) inset;
    float: none;
    margin: 20px auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}


/* ==========================================================================
   Widget
   ========================================================================== */

.widget-side{
    float: right;
}

.widget{
    margin: 20px 0;
    min-height: 100px;
    background-color: #fff;
    padding: 0 20px 20px 20px;
    border-radius: 4px;
    border: 1px solid #d3e0e9 ;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset, 0px 0px 5px 5px rgba(255, 255, 255, 0.4) inset;
    -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset, 0px 0px 5px 5px rgba(255, 255, 255, 0.4) inset;
    -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px 2px rgba(255, 255, 255, 0.5) inset, 0px 0px 5px 5px rgba(255, 255, 255, 0.4) inset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

/* ==========================================================================
   Search
   ========================================================================== */

.cse .gsc-control-cse, .gsc-control-cse, .gsc-search-box-tools .gsc-search-box .gsc-input
{
    padding: 0 !important;
}

.gsc-control-cse, .cse .gsc-control-cse, .gsc-control-cse{
    border: 0 !important;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 ,.gsc-input-box{
    width: auto !important;
    height: 40px!important;
    padding: 12px 27px!important;
    margin-left: 0 !important;
    border-radius: 0 4px 4px 0 !important;
}

.gsc-input-box{
    border-radius: 4px 0 0 4px !important;
padding: 4px 0  !important
}

.gsst_a .gscb_a ,.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2{
    margin-top: 5px !important;
}

.gsc-webResult .gsc-result{
    padding: 10px !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    color: white  !important;
    padding: 5px !important;
}

.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top{
    padding-left: 0 !important;
}

.gsc-results-wrapper-overlay{
        height: 95% !important;
        width: 95% !important;
        top: 2.5% !important;
        left: 2.5% !important;
        border-radius: 4px !important;
}

/* ==========================================================================
   Footers
   ========================================================================== */

footer {
    border-top: 1px solid #d3e0e9;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.09) , 0 0 2px 2px rgba(255,255,255,.5) inset , 0 0 5px 5px rgba(255,255,255,.4) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.09) , 0 0 2px 2px rgba(255,255,255,.5) inset , 0 0 5px 5px rgba(255,255,255,.4) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.09) , 0 0 2px 2px rgba(255,255,255,.5) inset , 0 0 5px 5px rgba(255,255,255,.4) inset;
    
}

.footer-bottom {
    background-color: #F5F8FA;
    border-top: 1px solid #d3e0e9;
    min-height: 36px;
    line-height: 36px;
}

.h3-title{
    border-bottom: 3px solid #d3e0e9;
    padding-bottom: 10px;
    margin-top: 0;
    padding-top: 20px;
}

#about{
    background-color: #F5F8FA;
    float: left;
}




