---
layout: default
---
<div class="main-side col-md-8 col-sm-12 col-xs-12">
    {% for post in paginator.posts %}
        <article class="post">
            <h1>
               <a class="header" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h1>
            <div class="post-info margin-span row">
                <div id="left-side" class="col-md-6 col-sm-6 col-xs-12">
                    <i class="fa fa-pencil hidden-xs"></i><span><a>{{ post.author }}</a></span>
                    •
                    <span class="fa fa-clock-o hidden-xs"></span>
                    {{ post.date | date: "%b %-d, %Y" }}
                </div>
                <div id="right-side" class="col-md-6 col-sm-6 col-xs-12">
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style pull-right">
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_linkedin"></a>
                    <a class="a2a_button_email"></a>
                    </div>
                </div>
            </div>
            <div class="post-body row">
                <div class="center-div col-md-3 col-sm-3 col-xs-12">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="thumbnail">
                        <img height="100" width="150" class="img-rounded" src="/img/small/{{ post.image }}" alt="{{ post.title }}">
                    </a>
                </div>
                <div class="text-center col-md-9 col-sm-9 col-xs-12">
                    {{ post.excerpt }}
                </div>
            </div>
            <div class="post-info-footer margin-span">
                <a class="pull-right" href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
                <span class="fa fa-comment" aria-hidden="true"></span>
                <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread" data-disqus-identifier="{{ post.title }}">
                    <span class="disqus-comment-count" data-disqus-identifier="{{ post.title }}"></span>
                </a>
            </div>
        </article>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
        <div class="center-div pagination">
            {% if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
            {% else %}
                <li><a>&laquo; Prev</a></li>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="active"><a>{{ page }}</a></li>
                {% elsif page == 1 %}
                    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
            {% else %}
                <li><a>Next &raquo;</a></li>
            {% endif %}
        </div>
    {% endif %}
</div>
<script id="dsq-count-scr" src="//telephony.disqus.com/count.js" async></script>
