<div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
    <div class="ad-widget-wide">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Project 9 wide -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-6486789455195658"
        data-ad-slot="2150062929"
        data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>