<div class="modal fade" tabindex="-1" id="contact-modal" role="dialog" aria-labelledby="contact-modal" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">
                    <span class="fa fa-remove" aria-hidden="true"></span>
                    <span class="sr-only">Close</span>
                </button>
                <h2 class="modal-title">Coming Soon!</h2>
            </div>
            <div class="modal-body">
                <p>
                    <a role="button" class="btn btn-custom" href="https://github.com/danielawde9/danielawde9.github.io/issues/new" target="_blank">
                        <span class="fa fa-github fa-lg"></span> Leave A feedback
                    </a>
                </p>
                <p>
                   <h3>Or Contact me By</h3>
                    <ul class="list-unstyled">
                        <li>
                            <label>By Email:</label>
                            <p>
                                <a href="mailto:{{ site.email }}" target="_blank">
                                    {{ site.email }}
                                </a>
                            </p>
                        </li>
                        <li>
                            <label>By Phone:</label>
                            <p>
                                <a href="tel:70979482">
                                    Daniel Awde: 70 979 482
                                </a>
                            </p>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
