<footer>
    <div class="footer">
        <div class="container">
            <div class="row text-center">
                <div id="about" class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <h3 class="h3-title" >About</h3>
                        <p><b><a>Telephony</a></b> was founded in Jan 2016 as a weblog focused on delivering mobile phone information guides and tutorials about the iPhone, iPad and Android.The site is updated multiple times daily for best experience.</p>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
                    <h3 class="h3-title">Home</h3>
                    <ul class="list-unstyled">
                        {% for page in site.pages %}
                            {% unless page.exclude_from_nav %}
                                {% if page.title %}
                                    <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                                {% endif %}
                            {% endunless %}
                        {% endfor %}
                        <li> Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="h3-title">Online Support</h3>
                    <ul class="list-unstyled">
                        <li>
                            <span class="fa fa-envelope"></span>
                            <label>By Email:</label>
                            <p>
                                <a href="mailto:{{ site.email }}" target="_blank">
                                    {{ site.email }}
                                </a>
                            </p>
                        </li>
                        <li>
                            <span class="fa fa-phone"></span> 
                            <label>By Phone:</label>
                            <p>
                                <a href="tel:70979482">
                                    Daniel Awde: 70 979 482
                                </a>
                            </p>
                        </li>
                        <li>
                            <span class="fa fa-map"></span> 
                            <label>Our location:</label>
                            <p>
                                <a href="https://goo.gl/maps/RQa0i" target="_blank">
                                    Bater Al Shoof
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <ul class="list-unstyled">
                        <li>
                            <h3 class="h3-title">Comming Soon!</h3>
                            <label class="sr-only" for="subscribe">Enter your email</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="Email@you.com" type="email" id="subscribe" required autocomplete="on" name="email-subscribe" >
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Subscribe</button>
                                </span>
                             </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            Copyright © <a href="{{ site.baseurl }}/about"><b>Daniel Awde</b></a> 2016. All right reserved.
        </div>
    </div>
</footer>

