<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand hidden-sm hidden-xs" href="{{ site.baseurl }}/">
                <img alt="Telephony" height="48" width="48" src="{{"/favicons/android-chrome-48x48.png" | prepend: site.baseurl }}">
            </a>
            <div class="col-md-offset-8">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Sites 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for page in site.pages %}
                            {% unless page.exclude_from_nav %}
                                {% if page.title %}
                                    <li><a class="navbar-underline text-center" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                                {% endif %}
                            {% endunless %}
                        {% endfor %}
                    </ul>
                </li>
                <li><a class="navbar-underline" href="#contact-modal" data-toggle="modal">Contact</a></li>
            </ul>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>