<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msvalidate.01" content="F6F167811215CC16E6E2BD6BD2CE0D46" />
    <meta name="keywords" content="phone number,phone prices in lebanon,phone wallpapers,phone book,phones for sale in lebanon,phone tracker,phone accessories,phone accessories in lebanon,phone book lebanon,phone backgrounds,phone battery,phone country codes,phone covers lebanon,phone cases lebanon,phone fell in water,phone for kids,phone for old people,phone games,phone apps,phone gps tracker,phone gloves,huawei,phone headset,phone holder for car,phone magnifier,phone memory card,phone numbers in lebanon,phone offers in lebanon,phone prices,phone price list lebanon,phone 2 numbers,asus,phone information,phone repair near me microsoft, apple, google, samsung,lenovo,lg, phone support, ios, android, iphone, ipad, phone">

    <link rel="apple-touch-icon" sizes="57x57" href="{{"/favicons/apple-touch-icon-57x57.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{"/favicons/apple-touch-icon-60x60.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{"/favicons/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{"/favicons/apple-touch-icon-76x76.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{"/favicons/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{"/favicons/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{"/favicons/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{"/favicons/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{"/favicons/apple-touch-icon-180x180.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{"/favicons/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{"/favicons/android-chrome-192x192.png" | prepend: site.baseurl }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{"/favicons/favicon-96x96.png" | prepend: site.baseurl }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{"/favicons/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
    <link rel="manifest" href="{{"/favicons/manifest.json" | prepend: site.baseurl }}">
    <link rel="mask-icon" href="{{"/favicons/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{"/favicons/favicon.ico" | prepend: site.baseurl }}">
    <meta name="apple-mobile-web-app-title" content="Telephony">
    <meta name="application-name" content="Telephony">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{"/favicons/mstile-144x144.png" | prepend: site.baseurl }}">
    <meta name="msapplication-config" content="{{"/favicons/browserconfig.xml" | prepend: site.baseurl }}">
    <meta name="theme-color" content="#216a94">
    
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">    
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <script src=" {{ "/js/modernizr-2.8.3.min.js" | prepend: site.baseurl }}"></script>
</head>
