<div class="modal fade" tabindex="-1" id="user-log" role="dialog" aria-labelledby="user-log" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">
                    <span class="fa fa-remove" aria-hidden="true"></span>
                    <span class="sr-only">Close</span>
                </button>
                <h2 class="modal-title">User Form</h2>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <ul role="tablist" class="nav nav-tabs nav-justified" id="log-tabs">
                                <li id="sign-in-tab" role="presentation" class="active">
                                    <a data-toggle="tab" href="#sign-in">Log In</a>
                                </li>
                                <li id="sign-up-tab" role="presentation" >
                                    <a data-toggle="tab" href="#sign-up">New User</a>
                                </li>
                            </ul>
                            <div class="well text-left">
                                <div class="tab-content">
                                    <div role="tabpanel" id="sign-in" class="tab-pane fade in active">
                                        <p>Coming Soon in mean time Login with Google, Facebook or Twitter</p>
                                     </div>
                                     <div role="tabpanel" id="sign-up" class="tab-pane fade">
                                        <p>Coming Soon in mean time Signup with Google, Facebook or Twitter</p>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12 text-center">
                            <p class="lead">Register now for <span class="text-custom">FREE</span></p>
                            <p>
                                <a class="btn btn-custom" role="button" href="#"><span class="fa fa-google fa-lg"></span> Google</a>
                            </p>
                            <p>
                                <a class="btn btn-custom" role="button" href="#"><span class="fa fa-facebook fa-lg"></span> Facebook</a>
                            </p>
                            <p>
                                <a class="btn btn-custom" role="button" href="#"><span class="fa fa-twitter fa-lg"></span> Twitter</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>