<aside class="widget-side col-md-4 col-sm-12 col-xs-12">
    <div class="widget" id="search">
        <h3 class="h3-title">Search This Site</h3>
        <gcse:search></gcse:search>
    </div>
    <div class="ad-widget widget" id="ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Project 9 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6486789455195658"
             data-ad-slot="4936588926"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="widget" id="latest-post">
        <h3 class="h3-title">Latest Posts</h3>
        {% for post in site.posts limit: 3%}
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h4><a class="header" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 margin-span text-center latest-post">
                    <ul class="list-unstyled">
                        <li class="center-div">
                            <a href="{{ post.url | prepend: site.baseurl }}" class="thumbnail">
                                <img height="100" width="150" class="img-rounded" src="/img/small/{{ post.image }}" alt="{{ post.title }}">
                            </a>
                        </li>
                        <li class="text-center">
                            <ul class="list-unstyled">
                                <li><span class="fa fa-pencil"></span><a>{{ post.author }}</a></li>
                                <li><span class="fa fa-clock-o"></span>{{ post.date | date: "%b %-d, %Y" }}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="widget">
    </div>
</aside>